<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0_type</key>
	<string>y = f(x) = </string>
	<key>1_type</key>
	<string>r = r(θ) = </string>
	<key>2_type</key>
	<string>x = g(y) = </string>
	<key>3_type</key>
	<string>ᴑ :</string>
	<key>4_type</key>
	<string>) ( :</string>
	<key>5_type</key>
	<string>ꇤ :</string>
	<key>6_type</key>
	<string>y = f(x) = </string>
	<key>7_type</key>
	<string>y = f(x) = </string>
	<key>8_type</key>
	<string>y = f(x) = </string>
	<key>9_type</key>
	<string>Any : </string>
	<key>0_func</key>
	<string>x·sin(x)</string>
	<key>1_func</key>
	<string>θ</string>
	<key>2_func</key>
	<string>(y-2)^2</string>
	<key>3_func</key>
	<string></string>
	<key>4_func</key>
	<string></string>
	<key>5_func</key>
	<string></string>
	<key>6_func</key>
	<string></string>
	<key>7_func</key>
	<string></string>
	<key>8_func</key>
	<string></string>
	<key>9_func</key>
	<string>(x^2+y^2-1)^3=x^2·y^3</string>
	<key>0_xfrom</key>
	<string>－5</string>
	<key>1_xfrom</key>
	<string>－5</string>
	<key>2_xfrom</key>
	<string>－5</string>
	<key>New item</key>
	<string>－5</string>
	<key>3_xfrom</key>
	<string>－5</string>
	<key>4_xfrom</key>
	<string>－5</string>
	<key>5_xfrom</key>
	<string>－5</string>
	<key>6_xfrom</key>
	<string>－5</string>
	<key>7_xfrom</key>
	<string>－5</string>
	<key>8_xfrom</key>
	<string>－5</string>
	<key>9_xfrom</key>
	<string>－1.2</string>
	<key>0_xTo</key>
	<string>5</string>
	<key>1_xTo</key>
	<string>5</string>
	<key>2_xTo</key>
	<string>5</string>
	<key>3_xTo</key>
	<string>5</string>
	<key>4_xTo</key>
	<string>5</string>
	<key>5_xTo</key>
	<string>5</string>
	<key>6_xTo</key>
	<string>5</string>
	<key>7_xTo</key>
	<string>5</string>
	<key>8_xTo</key>
	<string>5</string>
	<key>9_xTo</key>
	<string>1.2</string>
	<key>0_yfrom</key>
	<string>－8</string>
	<key>1_yfrom</key>
	<string>－8</string>
	<key>2_yfrom</key>
	<string>－8</string>
	<key>3_yfrom</key>
	<string>－8</string>
	<key>4_yfrom</key>
	<string>－8</string>
	<key>5_yfrom</key>
	<string>－8</string>
	<key>6_yfrom</key>
	<string>－8</string>
	<key>7_yfrom</key>
	<string>－8</string>
	<key>8_yfrom</key>
	<string>－8</string>
	<key>9_yfrom</key>
	<string>－2.2</string>
	<key>0_yTo</key>
	<string>8</string>
	<key>1_yTo</key>
	<string>8</string>
	<key>2_yTo</key>
	<string>8</string>
	<key>3_yTo</key>
	<string>8</string>
	<key>4_yTo</key>
	<string>8</string>
	<key>5_yTo</key>
	<string>8</string>
	<key>6_yTo</key>
	<string>8</string>
	<key>7_yTo</key>
	<string>8</string>
	<key>8_yTo</key>
	<string>8</string>
	<key>9_yTo</key>
	<string>2.2</string>
	<key>0_θfrom</key>
	<string>0</string>
	<key>1_θfrom</key>
	<string>0</string>
	<key>2_θfrom</key>
	<string>0</string>
	<key>3_θfrom</key>
	<string>0</string>
	<key>4_θfrom</key>
	<string>0</string>
	<key>5_θfrom</key>
	<string>0</string>
	<key>6_θfrom</key>
	<string>0</string>
	<key>7_θfrom</key>
	<string>0</string>
	<key>8_θfrom</key>
	<string>0</string>
	<key>9_θfrom</key>
	<string>0</string>
	<key>0_θTo</key>
	<string>2·π</string>
	<key>1_θTo</key>
	<string>2·π</string>
	<key>2_θTo</key>
	<string>2·π</string>
	<key>3_θTo</key>
	<string>2·π</string>
	<key>4_θTo</key>
	<string>2·π</string>
	<key>5_θTo</key>
	<string>2·π</string>
	<key>6_θTo</key>
	<string>2·π</string>
	<key>7_θTo</key>
	<string>2·π</string>
	<key>8_θTo</key>
	<string>2·π</string>
	<key>9_θTo</key>
	<string>2·π</string>
	<key>0_color</key>
	<string>rgba(238,59,59,1)</string>
	<key>1_color</key>
	<string>rgba(30,144,255,1)</string>
	<key>2_color</key>
	<string>Hidden</string>
	<key>3_color</key>
	<string>Hidden</string>
	<key>4_color</key>
	<string>Hidden</string>
	<key>5_color</key>
	<string>Hidden</string>
	<key>6_color</key>
	<string>Hidden</string>
	<key>7_color</key>
	<string>Hidden</string>
	<key>8_color</key>
	<string>Hidden</string>
	<key>9_color</key>
	<string>Hidden</string>
	<key>0_conicX</key>
	<string>0</string>
	<key>0_conicY</key>
	<string>0</string>
	<key>0_conicA</key>
	<string>2</string>
	<key>0_conicB</key>
	<string>1</string>
	<key>1_conicX</key>
	<string>0</string>
	<key>1_conicY</key>
	<string>0</string>
	<key>1_conicA</key>
	<string>2</string>
	<key>1_conicB</key>
	<string>1</string>
	<key>2_conicX</key>
	<string>0</string>
	<key>2_conicY</key>
	<string>0</string>
	<key>2_conicA</key>
	<string>2</string>
	<key>2_conicB</key>
	<string>1</string>
	<key>3_conicX</key>
	<string>0</string>
	<key>3_conicY</key>
	<string>0</string>
	<key>3_conicA</key>
	<string>2</string>
	<key>3_conicB</key>
	<string>1</string>
	<key>4_conicX</key>
	<string>0</string>
	<key>4_conicY</key>
	<string>0</string>
	<key>4_conicA</key>
	<string>2</string>
	<key>4_conicB</key>
	<string>1</string>
	<key>5_conicX</key>
	<string>0</string>
	<key>5_conicY</key>
	<string>0</string>
	<key>5_conicA</key>
	<string>2</string>
	<key>5_conicB</key>
	<string>1</string>
	<key>6_conicX</key>
	<string>0</string>
	<key>6_conicY</key>
	<string>0</string>
	<key>6_conicA</key>
	<string>2</string>
	<key>6_conicB</key>
	<string>1</string>
	<key>7_conicX</key>
	<string>0</string>
	<key>7_conicY</key>
	<string>0</string>
	<key>7_conicA</key>
	<string>2</string>
	<key>7_conicB</key>
	<string>1</string>
	<key>8_conicX</key>
	<string>0</string>
	<key>8_conicY</key>
	<string>0</string>
	<key>8_conicA</key>
	<string>2</string>
	<key>8_conicB</key>
	<string>1</string>
	<key>9_conicX</key>
	<string>0</string>
	<key>9_conicY</key>
	<string>0</string>
	<key>9_conicA</key>
	<string>2</string>
	<key>9_conicB</key>
	<string>1</string>
</dict>
</plist>
